<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= imageKey %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body >
    <form action="/home" method="get">
        <button class="button"><-- Go back</button>
    </form>
    <h1>
        <% for(char of "Images  of  "+imageKey) { %>
            <span class="key" ><%=char%></span>
        <%}%>
    </h1>

    <hr><br><br>
 
    <div class="imgdisplay-container">
        <%  for(link of links){ %>
            <div class="container">
                <a href="<%= link %>" ><img src="<%= link %>" alt="image of <%= imageKey %>" id="<%= link %>"  > </a>
            </div>
        <%}%>
    </div>

    
   
    <script src="/js/script.js"></script>
</body>
</html>